Item(
    name: "Agile Guards",
    description: "",
    kind: Armor(
        (
            kind: Shoulder("Leather0"),
            stats: (
                protection: Normal(6.0),
            ),
        )
    ),
)
