Item(
    name: "Cyclops Hammer",
    description: "Wielded by a mighty cyclops.",
    kind: Tool(
        (
            kind: BossWeapon("CyclopsHammer"),    
            stats: (
                equip_time_millis: 500,
                power: 1.00,
            ),
        )
    ),
)
